div{
    margin-left: 240px;
    margin-top: 50px;
}
#orders {
    font-family: Roboto, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#orders td, #orders th{
    border-bottom: 2px solid #18171c;
    padding: 20px;
}
#orders th{
    background-color: #18171c;
    padding: 12px;
    text-align: left;
    font-size: 15px;
    color: white;
}
#orders td{
    font-size: 12px;
    font-weight: bolder;
}
tr[target="_blank"]{
    background-color: #26232c;
    color: #6f6c75;
}
tr{
    background-color: #2e2c39;
    color: #bfb9c3;
}

